*{

    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
     font-size: 18px;
     color: #000;
     text-decoration: none;
 }
ul{
    list-style-type: none;
    cursor: pointer;
}

.header{
    margin: auto ;
    width: 80%;
}
.navigation{
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-size: 18px;
    line-height: 55px;
    display: flex;
}
.navigation li{
    text-align: center;
    flex-basis: 16%;
}

.ElementsLevel2{
    padding: 0;
    left: 10%;
    width: 80%;
    position: absolute;
    display: none;
    background: #FFFFFF;
    font-size: 22px;
    opacity: 1;

}
.ElementsLevel3{
    padding: 0;
    font-size:18px;
    text-align: left;

}

.m-menu-button{
    margin-right: 15px;
    margin-left: auto;
    display: none;
    padding-top:20px;
    border: none;
    cursor: pointer;
    background: none;
}
.menu-line{
    display: block;
    height: 3px;
    background-color: #000000;
    width: 19px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 40px;
}
.body{
    width: 80%;
    margin: auto ;
    font-size: 25px;
    line-height: 60px;
}
@media (min-width:769px) {
    .navigation li:hover a{
        background: #aeaeae;
        border-bottom: 3px solid #e38900;
    }
    .el2:hover ul.ElementsLevel2{
        background: #ffffff;
        display: flex;
    }
    .el4:hover ul.ElementsLevel2{
        background: #ffffff;
        display: flex;
    }
    section.header1 head.header:hover ~section.header1{
        background-color:rgba(0,0,0,.4);
    }
}

@media all and (max-width: 1100px) {
    .header{
        width: 90%;
    }
    .body{
        width: 90%;
    }
    .navigation{
        font-size: 16px;
        line-height: 40px;
    }
    .ElementsLevel2{
        left: 5%;
        width: 90%;
        font-size:18px;
    }
    .ElementsLevel3{
         font-size:14px;
     }
}

@media (max-width: 768px) {
    .header{
        width: 100%;
    }
    .menu{
        background-color: #fff;
        width: 100%;
        height: 60px;
    }
    .navigation{
        display: none;
    }
    .navigation.active{
        top: 60px;
        text-align: left;
        align-items: left;
        width: 100%;
        height: auto;
        background: #ffffff;
        display: block;
        position: absolute;

    }
    .ElementsLevel2{
        display: none;
        position: relative;
    }
    .ElementsLevel3{
        display: none;
        padding-left: 20px;
        position: relative;
    }
    .elem2.active:after,
    .elem4.active:after,
    .elem2_2.active:after,
    .elem2_4.active:after
    {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        transition:transform .4s;
    }

    .elem2:after,
    .elem4:after,
    .elem2_2:after,
    .elem2_4:after{
        right: 15px;
        position: absolute;
        width: 30px;
        height: 30px;
        content: url("arr.png");
        transition:transform .4s;
    }
    .navigation.active li{
        text-align: left;
    }
    .m-menu-button {
        display: block;
    }
    .m-menu-button.open:after {
        right: 5px;
        font-size: 40px;
        line-height: 20px;
        color: #ffdf00;
        content: url("close.png");


    }
    .m-menu-button.open{
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}
@media screen and (max-width: 414px){
    .header{
        width: 100%;
    }
    .menu{
        background-color: #fff;
        width: 100%;
        height: 60px;
    }
    .navigation{
        display: none;
    }
    .navigation.active{
        top: 60px;
        text-align: left;
        align-items: left;
        width: 100%;
        height: auto;
        background: #ffffff;
        display: block;
        position: absolute;

    }
    .ElementsLevel2{
        display: none;
        position: relative;
    }
    .ElementsLevel3{
        display: none;
        padding-left: 20px;
        position: relative;
    }
    .elem2.active:after,
    .elem4.active:after,
    .elem2_2.active:after,
    .elem2_4.active:after
    {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        transition:transform .4s;
    }

    .elem2:after,
    .elem4:after,
    .elem2_2:after,
    .elem2_4:after{
        right: 15px;
        position: absolute;
        width: 30px;
        height: 30px;
        content: url("arr.png");
        transition:transform .4s;
    }
    .navigation.active li{
        text-align: left;
    }
    .m-menu-button {
        display: block;
    }
    .m-menu-button.open:after {
        right: 5px;
        font-size: 40px;
        line-height: 20px;
        color: #ffdf00;
        content: url("close.png");


    }
    .m-menu-button.open{
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

}